<form class="example-form">

  <div class="settings">
    <mat-form-field>
      <input (dateChange)="setStart($event)" matInput [matDatepicker]="start" placeholder="Start date">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input (dateChange)="setEnd($event)" matInput [matDatepicker]="end" placeholder="End date">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input name="totalCost" (change)="buildCosts()" [(ngModel)]="totalCost" matInput placeholder="Total cost">
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>  
  </div>
  
  <table *ngIf="columns.length > 0">

    <tr>
      <th></th>
      <th *ngFor="let column of columns">{{column}}</th>
      <th>Cost</th>  
    </tr>

    <tr *ngFor="let participant of participants">
      <td>
        <mat-form-field>
          <input matInput placeholder="Participant" value="{{participant.name}}">
        </mat-form-field>
      </td>
      <td *ngFor="let column of columns; let i = index">
        <mat-checkbox name="night{{i}}" [(ngModel)]="participant.stay[i]" (change)="buildCosts()"></mat-checkbox>
      </td>
      <td>
        <span>{{participant.cost|number:'0.0-2'}} €</span>
      </td>
    </tr>

    <tr>
      <td>
          <button mat-raised-button color="primary" (click)="addParticipant()">Add participant</button>
      </td>
    </tr>

  </table>

</form>